<mat-toolbar>
  <mat-icon>help</mat-icon>&nbsp;
  <span>Faqs</span>
  <span class="fill"></span>
  <button (click)="add()" mat-icon-button matTooltip="Add Faq">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div #tt [style.maxHeight]="dataService.getHeight(tt)" class="table-scrollable">
  <table class="table sticky">
    <thead>
      <tr>
        <th>Title</th>
        <th class="left">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td (click)="show($event,d)" class="pointer">{{d.title}}</td>
        <td class="left">
          <button (click)="edit(d)" mat-icon-button matTooltip="Edit">
            <mat-icon>create</mat-icon>
          </button>
          <button (click)="remove(d)" mat-icon-button matTooltip="Edit">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <mat-paginator (page)="page=$event.pageIndex;perPage=$event.pageSize;init()" [length]="total" [pageIndex]="page"
    [pageSizeOptions]="[15, 25, 50, 100]" [pageSize]="perPage"></mat-paginator>
</div>

<ng-template #infoTemplate>
  <h1 mat-dialog-title>Error Detail</h1>
  <mat-dialog-content>

    <div class="row details">
      <div class="col-12">
        <div class="font-500">Message</div>
        <div>{{faq.message}}</div>
      </div>
      <div class="col-12">
        <div class="font-500">File</div>
        <div>{{faq.file}}</div>
      </div>

    </div>
    <hr>
    <br>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
