<mat-toolbar>
  <mat-icon>payments</mat-icon>&nbsp;
  <span>Payments</span>
  <span class="fill"></span>
  <!-- <input (delayedInput)="init()" [(ngModel)]="search" appDelayInput class="search-input" placeholder="Search..."
    type="search"> -->
  <button (click)="exportData()" [disabled]="data.length===0" mat-icon-button matTooltip="Export Data">
    <mat-icon>file_download</mat-icon>
  </button>
  <button (click)="openFilter()" mat-icon-button matTooltip="Filter">
    <mat-icon>filter_list</mat-icon>
  </button>
</mat-toolbar>

<div #tt [style.maxHeight]="dataService.getHeight(tt)" class="table-scrollable">
  <table class="table sticky">
    <thead>
      <tr>
        <th>#</th>
        <th *ngIf="!userId">User</th>
        <th *ngIf="!userId">Phone</th>
        <th>Description</th>
        <th>Type</th>
        <!-- <th>Contest Category Name</th> -->
        <th>Match Info</th>
        <th>Status</th>
        <th class="number">Amount</th>
        <th>Created At</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data;let index=index">
        <td>{{(index + 1) + page * perPage}}</td>
        <td *ngIf="!userId">
          <div>{{d.name}}</div>
          <small>{{d.email}}</small>
        </td>
        <td *ngIf="!userId">{{d.phone}}</td>
        <td>{{d.description}}</td>
        <td>{{d.type}}</td>
        <!-- <td>{{d.contest_category_name}}</td> -->
        <td>Fixture Name - <span *ngIf="convert(d.extra).fixture_name">{{convert(d.extra).fixture_name}}</span><br>
            Category Name - <span *ngIf="convert(d.extra).category_name">{{convert(d.extra).category_name}}</span>
        </td>
        <td>{{d.status}}</td>
        <td class="number">{{d.amount}}</td>

        <td>{{d.created_at|date:'medium'}}</td>
        <td>
          <a [routerLink]="'/invoice/' + d.id" *ngIf="d.type=='DEPOSIT' || d.type=='WITHDRAW'">
            <button mat-icon-button matTooltip="View invoice">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </a>
          <button (click)="paymentSettle(d)" mat-raised-button color="primary" matTooltip="Settled" *ngIf="d.status == 'PENDING' && d.type == 'DEPOSIT'">
            Settled</button
            >

          <button (click)="paymentFail(d)" mat-raised-button color="primary" matTooltip="Failed" *ngIf="d.status == 'PENDING' && d.type == 'DEPOSIT'">
              Failed</button>
        </td>
        <!-- <td>
          <button (click)="changeStatus(d)" *ngIf="d.status == 'PENDING' && d.type == 'WITHDRAW'" mat-icon-button
            matTooltip="Status">
            <mat-icon>create</mat-icon>
          </button>
        </td> -->
      </tr>

    </tbody>
  </table>
  <mat-paginator (page)="page=$event.pageIndex;perPage=$event.pageSize;init()" [length]="total" [pageIndex]="page"
    [pageSizeOptions]="[15, 25, 50, 100]" [pageSize]="perPage"></mat-paginator>
</div>


<ng-template #exportTemplate>
  <mat-toolbar>
    <span>Export Payment Data</span>
    <span class="fill"></span>
    <button mat-icon-button matDialogClose matTooltip="Close" tabindex="0">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-dialog-content class="mat-typography">
    <div class="table-scrollable">

    </div>
  </mat-dialog-content>
</ng-template>
