<mat-toolbar>
  <mat-icon>people</mat-icon>&nbsp;
  <span>System Users</span>
  <span class="fill"></span>
  <input [(ngModel)]="search" appDelayInput (delayedInput)="init()" class="search-input" placeholder="Search..."
    type="search">
    <button (click)="openFilter()" mat-icon-button matTooltip="Filter">
      <mat-icon>filter_list</mat-icon>
    </button>
</mat-toolbar>
<div #tt [style.maxHeight]="dataService.getHeight(tt)" class="table-scrollable">
  <table class="table sticky">
    <thead>
      <tr>
        <!-- <th>#</th> -->
        <th>User Name</th>
        <th>User Phone</th>
        <th>Total Points</th>
        <th>Team Name</th>
        <th>Contest Category</th>
        <th>Rank</th>
        <th>Inning Number</th>
        <th>Database Rank / Total Points</th>
        <th>Contest Detail</th>
        <th>Edit Team</th>
        <!--      <th class="left">Action</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data;let index=index" class="pointer">
        <!-- <td>
          {{(index + 1) + page * perPage}}
        </td> -->
        <td>
          {{d.email}}
        </td>
        <td>
          {{d.phone}}
        </td>
        <td>
          {{d.total_points_redis}}
        </td>
        <td>{{d.username}}({{d.name}})</td>
        <td>{{d.contest_category_name}}</td>
        <td>{{d.rank_redis}}</td>
        <td>{{d.inning_number}}</td>
        <td>{{d.team_rank}} / {{d.total_points}}</td>
        <td>Entry Fees: {{d.entry_fee}}
          <br>
          Winning: {{d.prize}}
          <br>
          Total Team: {{d.total_teams}}
        </td>
        <td>{{d.rank}}</td>
        <td *ngIf="flag=='cricket'">
          <a [routerLink]="'/edit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
        <td *ngIf="flag=='football'">
          <a [routerLink]="'/ftedit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id+'/'+flag">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
        <td *ngIf="flag=='kabaddi'">
          <a [routerLink]="'/kbdedit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id+'/'+flag">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
        <td *ngIf="flag=='basketball'">
          <a [routerLink]="'/bkbedit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id+'/'+flag">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
        <td *ngIf="flag=='baseball'">
          <a [routerLink]="'/bsbedit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id+'/'+flag">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
        <td *ngIf="flag=='hockey'">
          <a [routerLink]="'/hkyedit-team/'+fixtureId+'/'+d.contest_idd+'/'+d.id+'/'+flag">
            <button mat-icon-button matTooltip="Edit">
              <mat-icon>create</mat-icon>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator (page)="page=$event.pageIndex;perPage=$event.pageSize;init()" [length]="total" [pageIndex]="page"
    [pageSizeOptions]="[15, 25, 50, 100]" [pageSize]="perPage"></mat-paginator>

</div>
