<mat-toolbar>
  <mat-icon>money_off</mat-icon>&nbsp;
  <span>TDS</span>
  <span class="fill"></span>
</mat-toolbar>
<div #tt [style.maxHeight]="dataService.getHeight(tt)" class="table-scrollable">
  <table class="table sticky">
    <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Amount</th>
      <th>View Contest</th>
      <th class="left">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of data;let index=index">
      <td>{{(index + 1) + page * perPage}}</td>
      <td>{{d.user.name}} {{d.user.email}}</td>
      <td>{{d.amount}}</td>
      <td *ngIf="d.payment">
        <a *ngIf="d.payment.contest_id" [routerLink]="'/contests/contest-detail/'+d.payment.contest_id">View Contest</a>
        <a *ngIf="d.payment.private_contest_id"
           [routerLink]="'/private-contests/contest-detail/'+d.payment.private_contest_id">View Contest</a>
      </td>
      <td *ngIf="!d.payment">

      </td>
      <td class="left">
        <button (click)="edit(d)" mat-icon-button matTooltip="Edit">
          <mat-icon>create</mat-icon>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
  <mat-paginator (page)="page=$event.pageIndex;perPage=$event.pageSize;init()" [length]="total" [pageIndex]="page"
                 [pageSizeOptions]="[15, 25, 50, 100]" [pageSize]="perPage"></mat-paginator>
</div>
